<h1>Artwork</h1>

<ul>
  <% @artworks.each do |artwork| %>
    <li>
      <h2><%= artwork.title %></h2>
      <p><strong>Classification:</strong> <%= artwork.classification %></p>
      <p><strong>Year:</strong> <%= artwork.beginyear %> - <%= artwork.endyear %></p>
      <p><strong>Medium:</strong> <%= artwork.medium %></p>
      <p><strong>Provenance:</strong> <%= artwork.provenancetext %></p>
      <p><strong>Attribution:</strong> <%= artwork.attribution %></p>
      <p><strong>Credit Line:</strong> <%= artwork.creditline %></p>
    </li>
  <% end %>
</ul>